venv/
__pycache__/
geckodriver.log
log.html
output.xml
report.html
selenium-screenshot-*.png
build/
dist/
*.egg-info/
legacy/
geckodriver*.log
package-lock.json
node_modules/
.mypy_cache/
src/SeleniumTestability/js/
monkeytype.sqlite3
.coveragedb
coverage_report/
assets/std*.txt
