Flask==1.0.2
Flask-BasicAuth
twine
m2r
python-language-server[all]
black
flake8
flake8-annotations
flake8-deprecated
flake8-coding
mypy
invoke
robotframework-timer
webdrivermanager
coverage
robotframework-lint
robotframework-pythonlibcore
psutil
gcg
-r requirements.txt
