wheel
Flask==2.0.3
Flask-BasicAuth
twine
mistune>=2.0.2
m2r
python-language-server[all]
black
flake8
flake8-annotations
flake8-deprecated
flake8-coding
mypy
invoke
robotframework-timer==0.0.6
webdrivermanager
coverage
robotframework-lint
robotframework-pythonlibcore==3.0.0
robotframework-ghareports==0.0.5
psutil
gcg
-r requirements.txt
